$color-three: #fed89d
$color-one: #a3ccff
$color-two: #eaeaea
$breakpoint-tablet: 768px
body
   display: flex
   min-height: 100vh
   flex-direction: column
   background-color: $color-one
   font-family: Verdana, Geneva, sans-serif

.container
   display: flex
   flex: 1
   flex-direction: column
   background-color: $color-two
   border-radius: 5px
header
   text-align: center
   font-size: 1.5em
   // color: $color-three
   display: flex
   flex-direction: row
   justify-content: space-between
   h4
      font-size: 1em
main
   flex: 1
nav
   order: -1
   background-color: darken($color-one, 15%)
main, aside
   border: darken($color-one, 15%) 1px solid
.event
   margin: 5px
   padding: 5px 15px
   background-color: $color-three
   border-radius: 5px

.region_options
   background: $color-three
   display: flex
   justify-content: space-around
.login-modal
   background-color: rgba(0,0,0,0.4)
   position: fixed
   top: 0
   left: 0
   height: 100%
   width: 100%
   z-index: 10
   overflow:auto
.inner-modal
   background-color: white
   height: 75%
   width: 75%
   border-radius: 3px
   margin: 5% auto
   text-align: center
#login-x
   text-align: right
.region_button
   flex-direction: row
   &:hover
      color: darken($color-two, 25%)
@media (min-width: 768px)
   .container
      flex-direction: row
      flex: 1
   nav
      flex: 0 0 20%
   main
      flex: 0 0 40%
   aside
      flex: 0 0 40%
