<!DOCTYPE html>
<html ng-app="EventApp">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src='../js/app.js'></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
        <link rel="stylesheet" href="/css/style_hg.css">
        <title>user events test</title>
        <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    </head>
        <body ng-controller = 'MainController as ctrl'>
        <header>header</header>

<a href="user_auth_test.html">User Auth</a>
<!-- __________________________________________CREATE FORM____________________________________________________ -->
        <h1 ng-click="ctrl.addEventFormToggle = !ctrl.addEventFormToggle">Add Event</h1>
        <section>
            <!-- <div ng-repeat="userEvent in ctrl.userEvents" class="userEvents">
                <h1>{{userEvent.user_event_name}}</h1>
                <p>{{userEvent.date}}</p>
            </div> -->
            <form ng-show="ctrl.addEventFormToggle" ng-submit="ctrl.submitEventForm()">
                <input type="text" ng-model="ctrl.formdata.user_id" value="2" placeholder="ID"><br>
                <input type="text" ng-model="ctrl.formdata.category" placeholder="Category"/><br>
                <input type="text" ng-model="ctrl.formdata.user_event_name" placeholder="Event Name"/><br>
                <input type="date" ng-model="ctrl.formdata.date" placeholder="Event Date"/><br>
                <input type="text" ng-model="ctrl.formdata.start_time" placeholder="Start Time"/><br>
                <input type="text" ng-model="ctrl.formdata.end_time" placeholder="End Time"/><br>
                <input type="submit" type="submit"/>
            </form>

        </section>

<!-- _____________________________DELETE & UPDATE FORM____________________________________________________ -->

        <section>
            <div ng-repeat="userEvent in ctrl.userEvents" class="userEvents">
                <h1>{{userEvent.user_event_name}}</h1>
                <p ng-click="ctrl.removeEvent(userEvent.id)">delete</p>
                <p ng-click="ctrl.updateUserEventFormToggle = !ctrl.updateUserEventFormToggle">Update Event</p>
                <form ng-show="ctrl.updateUserEventFormToggle" ng-submit="ctrl.submitUserEventForm()">
                    <input type="hidden" ng-model="ctrl.formdata.user_id" value="2">
                    <input type="text" ng-model="ctrl.formdata.category" placeholder="Category"/><br>
                    <input type="text" ng-model="ctrl.formdata.user_event_name" placeholder="Event Name"/><br>
                    <input type="date" ng-model="ctrl.formdata.date" placeholder="Event Date"/><br>
                    <input type="text" ng-model="ctrl.formdata.start_time" placeholder="Start Time"/><br>
                    <input type="text" ng-model="ctrl.formdata.end_time" placeholder="End Time"/><br>
                    <input type="submit" type="submit"/>
                </form>
            </div>

        </section>


    </body>
</html>
