<!DOCTYPE html>
<html ng-app="auth_app">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="../css/style_user.css">
<!-- <link rel="stylesheet" href="../css/main.css"> -->
<script src='../js/app_user.js'></script>
    <title>auth test</title>
  </head>
  <body ng-controller="userController as userCtrl">

<section class="container">

<section class="clsUpdateUser" ng-show="userCtrl.user.id"> <!-- update user -->
  <hr>
    <form class="form-inline" ng-submit="userCtrl.UpdateUser(update_user.id)">
      <div ng-repeat="user in userCtrl.users | filter: { username: userCtrl.user.username }" >

      <h1>Update {{userCtrl.user.username}}</h1>

  <div class="form-group">
    <label for="userCtrl.regformdata.username">Username</label><br/>
    <input class="register-form-input" type="text" ng-model="userCtrl.update_user_data.username" value="user.username" placeholder="required" required>
  </div>

  <br>
  <div class="form-group">
    <label for="userCtrl.regformdata.password">Password</label><br/>
    <input class="register-form-input" type="password" ng-model="userCtrl.update_user_data.password" placeholder="required" required>
  </div>

  <br>
  <div class="form-group">
    <label for="userCtrl.regformdata.passwordConfirm">Confirm Password</label><br/>
    <input class="register-form-input" type="password" ng-model="userCtrl.update_user_data.passwordConfirm" placeholder="required" required>
  </div>

  <br>
  <div class="form-group">
    <label for="userCtrl.regformdata.full_name">Full Name</label><br/>
    <input class="register-form-input" type="text" size="35" ng-model="userCtrl.update_user_data.full_name" value="user.full_name" placeholder="required" required>
  </div>
  <br>

  <div class="form-group">
    <label for="userCtrl.regformdata.full_address">Full Address</label><br/>
    <input class="register-form-input" type="text" size="60" ng-model="userCtrl.update_user_data.full_address" placeholder="Street, City, State, Zip Code"/>
  </div>
  <br>

  <div class="form-group">
  <label for="userCtrl.regformdata.email_address">Email Address</label><br/>
  <input class="register-form-input" type="text" size="45" ng-model="userCtrl.update_user_data.email_address" placeholder="optional"/>
  </div><br/>
  <br>

  <div class="form-group">
    <button class="btn btn-default" type="submit">Update User</button>
    <hr>
  </div>

  </div> <!-- ng repeat -->
    </form>
</section> <!-- update user -->

<section class="clsUpdateUserError">
  <h4 class="register-error" ng-if="userCtrl.UpdateUserError">{{userCtrl.UpdateUserError}}</h4>
</section> <!-- update user -->

<!--- #################################################### -->
<!--- #################################################### -->

    <section class="clsRegister" ng-show="!userCtrl.user.id">
        <!-- <div ng-if="userCtrl.showRegistration" id="registration-container"> -->
        <hr>
          <form class="form-inline" ng-submit="userCtrl.register()">
            <h3>Register</h3>
            <div class="form-group">
            <label for="userCtrl.regformdata.username">Username:</label><br>
            <input class="register-form-input" type="text" ng-model="userCtrl.regformdata.username" placeholder="required" required>
          </div>
          <br>
        </div>
          <div class="form-group">
          <label for="userCtrl.regformdata.password">Password:</label><br>
          <input class="register-form-input" type="password" ng-model="userCtrl.regformdata.password" placeholder="required" required>
        </div>
        <br>
        <div class="form-group">
          <label for="userCtrl.regformdata.passwordConfirm">Confirm Password</label><br>
          <input class="register-form-input" type="password" ng-model="userCtrl.regformdata.passwordConfirm" placeholder="required" required>
        </div>

          <br>
          <div class="form-group">
          <label for="userCtrl.regformdata.full_name">Full Name</label><br/>
          <input class="register-form-input" type="text" size="35" ng-model="userCtrl.regformdata.full_name" placeholder="required" required>
        </div><br>

            <div class="form-group">
              <label for="userCtrl.regformdata.full_address">Full Address</label><br/>
            <input class="register-form-input" type="text" size="60" ng-model="userCtrl.regformdata.full_address" placeholder="Street, City, State, Zip Code"/>
          </div><br>

          <div class="form-group">
            <label for="userCtrl.regformdata.email_address">Email Address</label><br/>
          <input class="register-form-input" type="text" size="45" ng-model="userCtrl.regformdata.email_address" placeholder="optional"/>
        </div><br/><br>
            <div class="form-group">
            <button class="register-form-button btn btn-default" type="submit">Register</button>

            <hr>
          </div>
        <!-- </div> -->
          </form>
      </section> <!-- register -->
    <section class="clsRegisterError">
      <h4 class="register-error" ng-if="userCtrl.loginError">{{userCtrl.loginError}}</h4>
    </section>



<hr>
<!--  -->
<section class="clsLogin" ng-show="!userCtrl.user.id">
<form ng-submit="userCtrl.login(userPass)">
  <h2>Login</h2>
  <div class="form-group">
    <label for="userPass.username">User Name:</label><br/>
      <input type="text" ng-model="userPass.username" placeholder="username"/>
    </div>
      <div class="form-group">
      <label for="userPass.password">Password"</label><br/>
      <input type="password" ng-model="userPass.password" placeholder="password"/>
    </div>
    <div class="form-group">
      <button class="btn btn-default" type="submit">Login</button>
    </div>
    </form>
<hr>
</section> <!-- clsLogin -->

<h3 ng-click="userCtrl.logout()" ng-show="userCtrl.user.id">Log Out</h3>
<h3 ng-click="userCtrl.updateCurrentUser(userCtrl.user.id)" ng-show="userCtrl.user.id">update Current User</h3>

  <h3 ng-show="userCtrl.user.id">Logged in username: {{ userCtrl.user.username }} </h3>
  <h3 ng-if="!userCtrl.user.username">Not Logged In</h3>
  <h3 ng-show="!userCtrl.user.id"><a ng-href="/user_auth_test.html">Sign in</a></h3>
  <h3 ng-show="userCtrl.user.id"><a ng-click='userCtrl.logout()'>Sign out</a></h3>


<h1 ng-click="userCtrl.getUsers()" ng-show="userCtrl.user.id">Click to see Users</h1>

<div>{{userCtrl.error}}</div>

<div ng-repeat="user in userCtrl.users">
  <h3>{{user.username}} | {{user.id}}<span ng-click="userCtrl.deleteUser(user.id)">(delete user)</span>
    <span ng-click="userCtrl.updateCurrentUser(userCtrl.user.id)" ng-show="userCtrl.user.id">(update Current User)</span>
  </h3>
</div>

</section> <!-- contsiner -->
  </body>
</html>
