<section class="clsRegister" ng-show="!userCtrl.user.id">
    <hr>
      <form class="form-inline" ng-submit="userCtrl.register()">
        <h3>Register</h3>
        <div class="form-group">
        <label for="userCtrl.regformdata.username">Username:</label><br>
        <input class="register-form-input" type="text" ng-model="userCtrl.regformdata.username" placeholder="required" required>
      </div>
      <br>
    </div>
      <div class="form-group">
      <label for="userCtrl.regformdata.password">Password:</label><br>
      <input class="register-form-input" type="password" ng-model="userCtrl.regformdata.password" placeholder="required" required>
    </div>
    <br>
    <div class="form-group">
      <label for="userCtrl.regformdata.passwordConfirm">Confirm Password</label><br>
      <input class="register-form-input" type="password" ng-model="userCtrl.regformdata.passwordConfirm" placeholder="required" required>
    </div>

      <br>
      <div class="form-group">
      <label for="userCtrl.regformdata.full_name">Full Name</label><br/>
      <input class="register-form-input" type="text" size="35" ng-model="userCtrl.regformdata.full_name" placeholder="required" required>
    </div><br>

        <div class="form-group">
          <label for="userCtrl.regformdata.full_address">Full Address</label><br/>
        <input class="register-form-input" type="text" size="60" ng-model="userCtrl.regformdata.full_address" placeholder="Street, City, State, Zip Code"/>
      </div><br>

      <div class="form-group">
        <label for="userCtrl.regformdata.email_address">Email Address</label><br/>
      <input class="register-form-input" type="text" size="45" ng-model="userCtrl.regformdata.email_address" placeholder="optional"/>
    </div><br/><br>
        <div class="form-group">
        <button class="register-form-button btn btn-default" type="submit">Register</button>

        <hr>
      </div>
    <!-- </div> -->
      </form>
  </section> <!-- register -->
<section class="clsRegisterError">
  <h4 class="register-error" ng-if="userCtrl.loginError">{{userCtrl.loginError}}</h4>
</section>
